[Unit]
Description=LightAuth2 Service

[Service]
Restart=always
ExecStart=/usr/bin/lightauth2 serve --usersFile /etc/lightauth/users.csv  --port 3030  
ExecStop=/usr/bin/killall lightauth2

[Install]
WantedBy=default.target
